body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

body.dark {
  background-color: #213547;
  color: #f4f4f4;
}

.container {
  color: #178582;
  text-align: center;
}

.app-container {
  text-align: center;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.corner-image {
  width: 60px;
  height: auto;
}

.clock {
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.scanner input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.display {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999; /* para que estén por encima de todo */
}

.floating-buttons .btn-pj {
  background-color: #0A1828;
  color: #BFA181;
  border: 1px solid #BFA181;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.floating-buttons .btn-pj:hover {
  background-color: #bfa1815a;
  border-color: #f4ab5e;
}
