#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.floating-buttons .btn-pj {
  background-color: #0A1828;
  color: #BFA181;
  border: 1px solid #BFA181;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.floating-buttons .btn-pj:hover {
  background-color: #bfa1815a;
  border-color: #f4ab5e;
}

.floating-buttons-right {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.floating-buttons-right .btn-pj-right {
  background-color: #0A1828;
  color: #BFA181;
  border: 1px solid #BFA181;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.floating-buttons-right .btn-pj-right:hover {
  background-color: #bfa1815a;
  border-color: #f4ab5e;
}

.btn-p {
  padding: 0;
  font-size: 0.8rem;
  color: #d5a877;
}

.btn-row {
  display: flex;
  justify-content: space-between; /* Espacio entre las columnas */
  gap: 20px; /* Espacio entre botones */
}

.btn-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre botones dentro de cada columna */
  flex: 1;
}
